* { box-sizing: border-box; } body {margin: 0;}#ixi1{min-height:100px;}#iv2h{color:black;padding:28px;margin:10px;width:50%;}#is12{background-color:#f8f8f8;}@media (max-width: 992px){#iv2h{width:50%;}}